@import "tailwindcss";

/* ignore this warning */
@theme {
  --animate-wiggle: wiggle 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: translateX(3px);
    }
    50% {
      transform: translateX(-3px);
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  background: transparent; /* gutter */
}

::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.6);
  border-radius: 9999px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(50, 50, 50, 0.6) transparent;
}


body {
  /* background-color: #ffffff; */
  color: #000;
  text-transform: lowercase;
  /* cursor: none; */
}

.grain-background {
  background: 
	linear-gradient(25deg, #ffffff, #ffffff48),
	url(/src/assets/noise.svg);
}

.custom-cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  left: 0;
  top: 0;
  transform: translate3d(var(--cursor-x, -100px), var(--cursor-y, -100px), 0) translate(-50%, -50%);
  will-change: transform;
}