---

---

<div id="container" class="flex flex-wrap w-fit m-5 p-5">
    {
        Array(25)
            .fill(1)
            .map(() => (
                <>
                    <span
                        class={`text-9xl font-extrabold font-sans hover:font-extralight transition-all duration-300`}
                    >
                        Hi.
                    </span>
                </>
            ))
    }
    <a
        href="mailto:muhammadpen@gmail.com"
        class="text-9xl font-extralight underline hover:font-extrabold transition-all duration-300"
        >Muhammad.</a
    >
    {
        Array(25)
            .fill(1)
            .map(() => (
                <>
                    <span
                        class={`text-9xl font-extrabold font-sans hover:font-extralight transition-all duration-300`}
                    >
                        Hi.
                    </span>
                </>
            ))
    }
    <span class="text-9xl font-extralight">Fullstack.</span>
    <span class="text-9xl font-extralight">software.</span>
    <span class="text-9xl font-extralight">engineer.</span>
    {
        Array(25)
            .fill(1)
            .map(() => (
                <>
                    <span
                        class={`text-9xl font-extrabold font-sans hover:font-extralight transition-all duration-300`}
                    >
                        Hi.
                    </span>
                </>
            ))
    }
    <span class="text-9xl font-extralight">Javascript.</span>
    {
        Array(25)
            .fill(1)
            .map(() => (
                <>
                    <span
                        class={`text-9xl font-extrabold font-sans hover:font-extralight transition-all duration-300`}
                    >
                        Hi.
                    </span>
                </>
            ))
    }
    <span class="text-9xl font-extralight">Cloud.</span>
    <span class="text-9xl font-extralight">Infrastructure.</span>
    {
        Array(25)
            .fill(1)
            .map(() => (
                <>
                    <span
                        class={`text-9xl font-extrabold font-sans hover:font-extralight transition-all duration-300`}
                    >
                        Hi.
                    </span>
                </>
            ))
    }
    <a
        target="_blank"
        href="https://github.com/MuhammadPen"
        class="text-9xl font-extralight underline hover:font-extrabold transition-all duration-300"
        >Github.</a
    >
    {
        Array(25)
            .fill(1)
            .map(() => (
                <>
                    <span
                        class={`text-9xl font-extrabold font-sans hover:font-extralight transition-all duration-300`}
                    >
                        Bye.
                    </span>
                </>
            ))
    }
    <a
        target="_blank"
        href="https://www.linkedin.com/in/muhammad-fayyaz-35a598125/"
        class="text-9xl font-extralight underline hover:font-extrabold transition-all duration-300"
        >Linkedin.</a
    >
    {
        Array(25)
            .fill(1)
            .map(() => (
                <>
                    <span
                        class={`text-9xl font-extrabold font-sans hover:font-extralight transition-all duration-300`}
                    >
                        Bye.
                    </span>
                </>
            ))
    }
    <a
        target="_blank"
        href="/resume.pdf"
        class="text-9xl font-extralight underline hover:font-extrabold transition-all duration-300"
        >Resume.</a
    >
    {
        Array(25)
            .fill(1)
            .map(() => (
                <>
                    <span
                        class={`text-9xl font-extrabold font-sans hover:font-extralight transition-all duration-300`}
                    >
                        Bye.
                    </span>
                </>
            ))
    }
</div>
