---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
  <div class="flex">
    <div class="flex-1"></div>
    <div
      class="flex flex-4 flex-col text-right text-2xl pt-10 leading-10 md:text-3xl md:leading-13"
    >
      <span
        >you can reach me via: <a
          href="mailto:muhammadpen@gmail.com"
          class="underline">muhammadpen@gmail.com</a
        ></span
      >
      <span>i will try my best to get back to you as soon as possible.</span>

      <div class="flex justify-end gap-8">
        <a
          href="https://github.com/MuhammadPen"
          class="underline"
          target="_blank">github</a
        >
        <a
          href="https://linkedin.com/in/muhammad-fayyaz-35a598125"
          class="underline"
          target="_blank">linkedin</a
        >
        <a
          href="https://bsky.app/profile/muhammadpen.bsky.social"
          class="underline"
          target="_blank">bsky</a
        >
      </div>
    </div>
  </div>
</BaseLayout>
