---
import BaseLayout from "../layouts/base.astro";
import ProjectShowcase from "../components/projectShowcase.astro";
---

<BaseLayout>
  <div class="flex flex-col pt-10">
    <ProjectShowcase
      color="#AD77D3"
      title="1mind"
      link="https://1mind.com"
      slides={[
        {
          image: "/1mindFirst.png",
          description: `1mind is an AI agent company.
They specialize in creating both realistic and unrealistic ai avatars which can be trained
on your voice and mannerisms in few minutes.
They can be used as sales representatives, information providers, customer support agents and pretty much anywhere you would want customer interaction. `,
        },
        {
          image: "/1mindSecond.png",
          description: `I worked here as a fullstack engineer and cloud architect.
          helped create their zoom integration.
          built and managed parts of their aws and gcp cloud infrastructure.
          built and optimized apis.
          carried out migration from aws to gcp.
          worked on their admin dashboard and control panel.`,
        },
        {
          description: `tech i used:`,
        },
        {
          description: `typescript.bash.
aws.gcp.pulumi.docker.
nodejs.fastify.express.
react.styled components.tailwind.mui.
turborepo.git.workflows.
openai.anthropic.`,
        },
      ]}
    />
  </div>
</BaseLayout>
